## required packages
1. PySide2
    ```pip install PySide2```
2. py3Dmol
    ```pip install py3Dmol```
3. requests
    ```pip install requests```
4. pypdb
    ```pip install pypdb```
5. qtvoila
    ```pip install qtvoila```
6. voila 7.7.2
7. runipy
8. ipykernel
9. IPython (6.5.0)
10. resource

> python 10.10
> ipywidgets 7.7.2